.App.mobile {
  text-align: center;
 background-color: #020408; 
 background-image: './Images/backgroundImage2.png';
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.App.computer {
  text-align: center;
  background-image: './Images/backgroundImage2.png';
    background-color: #020408; 
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.post-button:hover {
  transform: scale(1.05);
}
.App-link {
  color: #61dafb;
}