.App.mobile {
  text-align: center;
  background-color: #020408;
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.App.computer {
  text-align: center;
  background-color: #020408;
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.post-button:hover {
  transform: scale(1.05);
}
.App-link {
  color: #61dafb;
}
