.card-container{
  display: grid;
  gap: 20px;
  padding: 15px;
  overflow-x: auto;
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
background-size: cover;
background-position: center;
  background-color: #020408;
}
.card{
  border-radius: 11px;
    position: relative;
    width: 75vw;
    max-width: 350px;
    height: 230px;
    padding: 0 25px; /* Spacing between card content and edges */
  box-sizing: border-box;
    background-color: #151515;
    transition: transform 0.2s;
    box-sizing: border-box;
}
.fullscreen-button:hover {
    transform: scale(1.15);
}
.card:hover {
 background-color: #272727;
}
.card.fullscreen{
  border-radius: 0;
  top: 0;
  left: 0;
  z-index: 99999;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100vh;
  box-sizing: border-box;
    background-color: #151515;
    transition: transform 0.2s;
    box-sizing: border-box;
}
  .card.fullscreen.card-content {
    padding: 40px;
  }
.card-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.fullscreen-button{
  cursor: pointer;
  position: absolute;
  height: 4vw;
  max-height: 15px;
  right: 5px;
  top: 5px;
  transition: transform 0.2s;
}
.card-image{
  position: absolute;
  display: flex;
  top: 30px;
  left: 10px;
  width:  100px;
  height: 100px;
  object-fit: cover;
}
.card-image.fullscreen{
  position: absolute;
  display: flex;
  top: 50px;
  left: 50%;
  transform: translate(-50%,0);
  height: 30vh;
  width: 30vh;
  object-fit: contain;
}
.card-text-container{
  position: absolute;
  top: 30px;
  margin-left:  90px; /* Reserve space for image (100px width) */
  text-align: center; /* Center text horizontally within the text container */
  width: calc(100% - 100px - 25px); /* Ensure it fills the space between the image and card's right padding */
  color: white; /* Optional: Text color for visibility */
  height: 100px;
}
.card-text-container.fullscreen{
  position: absolute;
  top: calc(50px + 30vh + 10px);
  margin: 0;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center; /* Center text horizontally within the text container */
  width: calc(90vw); /* Ensure it fills the space between the image and card's right padding */
  color: white; /* Optional: Text color for visibility */
  height: auto;
}
.card-description.fullscreen{
  margin: 12px;
  display: -webkit-box;           /* Makes the element behave like a box */
  -webkit-box-orient: vertical;   /* Specifies the box's orientation as vertical */
  overflow-y: scroll;
  -webkit-line-clamp: 8;          /* Specifies the number of lines to display */
  line-height: 1.5em;             /* Optional: Adjust line-height for spacing between lines */      
    font-size:calc(7px + 2vmin);
  font-family : sans-serif;
  color: #ffffff;
}
.card-description{
  margin: 6px;
  display: -webkit-box;           /* Makes the element behave like a box */
  -webkit-box-orient: vertical;   /* Specifies the box's orientation as vertical */
  overflow: hidden;               /* Hides overflowed content */
  -webkit-line-clamp: 6;          /* Specifies the number of lines to display */
  line-height: 14px;             /* Optional: Adjust line-height for spacing between lines */      
    font-size:14px;
  font-family : sans-serif;
  color: #ffffff;
}
.card-title{
  height: 10px;
  position: relative;
  font-size: 16px;
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
}
.card-title.fullscreen{
  height: 30px;
  position: relative;
  font-size: 25px;
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
}
.card-teamNumber{
  margin: 6px;
  display: -webkit-box;           /* Makes the element behave like a box */
  -webkit-box-orient: vertical;   /* Specifies the box's orientation as vertical */
  overflow: hidden;               /* Hides overflowed content */
  -webkit-line-clamp: 1;          /* Specifies the number of lines to display */
  line-height: 1.1em;             /* Optional: Adjust line-height for spacing between lines */      
    font-size:16px;
    font-weight: bold;
  font-family : sans-serif;
  color: #ffffff;
}
.card-teamNumber.fullscreen{
  height: 50px;
  max-width: 80%;
  text-align: center;
    font-size:calc(11px + 3vmin);
    display: inline;          /* Makes the element behave like a box */
    margin: 0 auto; /* Center the container horizontally */
    font-weight: Bold;
  font-family : sans-serif;
  color: #ffffff;
}
.tag-container-large{
  width:   calc(90%);
  justify-content: start;
    height:calc(20% + 25px);
  position: absolute;
  left: 5px;
    bottom: 20px;
overflow-y: scroll;
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.tag-container-large.fullscreen{
  position: absolute;
  bottom: 10vh;
  left: 50%; 
  transform: translate(-50%,0);
  width: 90%;
  justify-content: center;
  position: absolute;
overflow-y: scroll;
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: calc(.5vmin + 2px);
}
.tag.fullscreen{
  cursor: pointer;
  font-family : sans-serif;
  font-style: normal;
  height: 6vmin;
  min-height:  25px;
  width: 12vmin;
  min-width: 45px;
  place-content: center;
  font-size:  calc(9px + .5vmin);
  position: relative;
  text-align: center;
  border-radius: 4px;
  display: inline-block;  
  background-color: #30302e; 
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
  transition: transform 0.2s;
}
.tag{
  cursor: pointer;
  font-family : sans-serif;
  font-style: normal;
  height: 20px;
  min-width: 45px;
  width: calc(20%);
  max-width: 80px;
  place-content: center;
  font-size:  10px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  display: inline-block;  
  background-color: #30302e; 
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
  transition: transform 0.2s;
}
.season.fullscreen{
  word-wrap: break-word;
  position: absolute;
  font-size:calc(11px + 2vmin);
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
right: 0;
bottom: 0;
margin: 5px;
}
.season{
  word-wrap: break-word;
  position: absolute;
  font-size:11px;
font-family : sans-serif;
font-weight: bold;
color: #ffffff;
right: 0;
bottom: 0;
margin: 5px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.tag:hover {
  background-color: #fe9144;
}