.App-logo {
  height: calc(50px);
}
.left-side {
  display: flex;
  gap: 20px;
}
.right-side{
  display: flex;
  gap:2vmax;
}
.header-text {
  height: 50px;
  font-family : Helvetica;
  font-weight: bold;
  color: #ffffff;
}
.post-button{
  text-align: center;
  top: 10px;
  width: 120px;
  position: relative;
  left: 20%;
  font-size: 24px;
  font-family : Helvetica;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #ccc;
  border-style: solid;
  border-radius: 1vmin;
  display: inline-block;  
  background-color: #D15F22; 
  transition: transform 0.2s;
}
.post-button:hover {
  background-color: #eb6a25; 
}
.navbar{
  background-color: #020408;
  border: 1px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 98%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 2%;
  top: 0px;
  left: 0px;
  position: sticky;
  z-index: 10;
}
